* {box-sizing:border-box}

.frontimage
{
  position: relative;
  top: 20px;
  left: 260px;
  /* margin: 0 auto 10px; */
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: rgb(94, 91, 91) url("Sigid.jpg") 100% 0%;
  background-size: 70px 70px;
  box-shadow: 0 0 0 10px rgba(63, 59, 59, 0.3);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 50%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #000000;
  color: #6C6D6E;
}

a {
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

p {
  line-height: 1.8;
}

.primary-color {
  color: #61AEAE;
}

.secondary-color {
  color: #0099CC;
}


.page-container {
  max-width: 600px;
  width: 100%;  
}

.section {
  margin-bottom: 155px;
  position: relative;
}

.content-container {      
  border-radius: 20px;
  background-color: white;
}

.nav {
  position: absolute;
  right: -150px;
  top: 45px;
}

.nav > ul > li {
  list-style: none;
}

.nav > ul > li > a {
  display: block;
  padding: 12px 15px;
  color: #999A9B;
}

.nav > ul > li.active > a,
.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
  color: #0299CC;
}

.nav-deco {
  display: inline-block;
  width: 20px;
  height: 8px;
  background-color: #999A9B;
  vertical-align: middle;
  margin-right: 20px;
}

.nav > ul > li.active > a > .nav-deco,
.nav > ul > li:hover > a > .nav-deco
 {
  background-color: #0299CC;
}

.content {  
  padding: 55px;
}

.header {
  padding: 65px 15px;
}

.title {
  font-size: 2rem;
  color: #dbe5f0;
}

.page-title {
  font-size: 1.5rem;
  margin-bottom: 40px;
  color: #656667;
}

.img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;  
}

footer {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  color: #9A9B9C;
}

.footer-link {
  color: #9A9B9C;
}


.img-overlay-wrap {
	position: relative;
	min-height: 280px;
	background-image: url(contact.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.img-overlay {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.img-overlay-text {
	position: relative;
	z-index: 1000;
}


.contact-form {
	max-width: 380px;
}

.form-group {
	margin-bottom: 35px;
}

.btn {
	font-size: 1.1rem;
	padding: 10px 35px;
	border: none;
}

.btn-primary {
	background-color: #9999CC;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #9a9afc;
}

.small {
	font-size: 90%;
}

@media (max-width: 945px) {
  .nav {
    position: static;
  }

  .page-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}




@media (max-width: 575px) {
	.gallery-item {
		max-width: 100%;
		height: auto;
	}
}

@media (max-width: 480px) {
  footer {
    display: block;
  }

  footer span {
    display: block;
    padding: 15px;
  }
}